<!doctype html>
<!-- <div class="oldschool-clearfix mb-triple-nomobile">&nbsp;</div>  -->

<div id="container">
    <div class="home-slider" style="position: relative;">
        <ul class="bxslider front-hero">
            <li >
                <img src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/Banner_new_final-1440x540.png" alt="" />
            </li>
            <li style="display:none;">
                <img src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/Plantui_banner-Jens-1440x540.jpg" alt="everyone deserves a garden" />
                <div class="bx-caption">
                    <span>你值得拥有一座花园</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="more-content-arrow-container"></div>
    <div id="content">
        <div id="inner-content" class="wrap_ clearfix">
            <div id="main" class="twelvecol first clearfix" role="main">
                <article id="post-73" class="clearfix post-73 page type-page status-publish hentry" role="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <section class="entry-content clearfix max-width-content section--seeds-to-salad" itemprop="articleBody">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bg-gray-light">
                                    <div class="seeds-to-salad-left">
                                        <div class="h3">种子到餐桌只需4周</div>
                                        <div class="h4">EverGreen T1 智能花园</div>
                                        <div class="h5">您可以尽情的种植您喜欢的香草,沙拉和可食用的花朵。</div>
                                    </div>
                                    <div class="seeds-to-salad-main">
                                        <div class="seeds-to-salad-content">
                                            <div class="seeds-to-salad-images">
                                                <img class="img-seed-to-salad hidden" src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/plantui1.jpg" alt="" id="seed-to-salad-0" style="opacity: 0; display: none;">
                                                <img class="img-seed-to-salad hidden" src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/plantui-timeline2.jpg" alt="" id="seed-to-salad-1" style="opacity: 0; display: none;">
                                                <img class="img-seed-to-salad hidden" src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2015/08/plantui3.jpg" alt="" id="seed-to-salad-2" style="opacity: 0; display: none;">
                                                <img class="img-seed-to-salad hidden" src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2015/08/plantui4.jpg" alt="" id="seed-to-salad-3" style="opacity: 0; display: none;">
                                                <img class="img-seed-to-salad" src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2015/08/plantui5.jpg" alt="" id="seed-to-salad-4">
                                            </div>
                                            <div id="range-from-seed" style="margin-bottom: 40px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="entry-content clearfix max-width-content section--teaser-banner"  itemprop="articleBody">
                            <div class="bg-gray-light contain teaser-banner-container">
                                <div class="banner-col teaser-product">
                                    <img class="teaser-banner-image" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fdc7wxhj2lj308i08i764.jpg" alt="">
                                </div>
                                <div class="banner-col teaser-product">
                                    <img class="teaser-banner-image" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdc7xhu9v7j308j08ljte.jpg" alt="">
                                </div>
                                <div class="banner-col teaser-product">
                                    <img class="teaser-banner-image" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdc7xec4hej308j08jabi.jpg" alt="">
                                </div>
                                <div class="banner-col teaser-content-area">
                                    <div class="h4">EverGreen T1 智能花园</div>
                                    <div class="h5">
                                        售价 <span class="amount">699元</span> <small class="woocommerce-price-suffix">­</small>											</div>
                                </div>
                                <div class="banner-col teaser-cta-area">
                                    <a href="/products" class="link-button">Choose yours</a>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>

















    <!-- #content -->
    <div id="newsletter-subscription-popup" class="newsletter-subscription-popup mfp-hide">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <div class="image">
            <img src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/plantui-newsletter-bg.jpg" />
            <form action="//plantui.us9.list-manage.com/subscribe/post-json?u=f4b6fd4c0a4c1e5f25582363d&amp;id=2f6a20bdbd&amp;c=?" method="post" id="mc-embedded-subscribe-form" class="newsletter-subscription-form translate-center middle" name="mc-embedded-subscribe-form" novalidate data-msg-success="Thank you! Please check your email to verify your subscription." data-msg-error="Please make sure you have filled all mandatory fields.">
                <input type="hidden" name="MMERGE3" value="en">
                <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email email-address" id="mce-EMAIL" placeholder="Enter your email address">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                </div>
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_f4b6fd4c0a4c1e5f25582363d_2f6a20bdbd" tabindex="-1" value="">
                </div>
            </form>
        </div>
        <div class="text">
            <h3>everyone deserves<br />
                a garden</h3>
            <p>
                Join us and receive all of the latest news from the world of Plantui.      </p>
        </div>
    </div>
    <style id="wc-availability-notifications-styles" type="text/css">
        .woocommerce div.product .in-stock, .woocommerce #content div.product .in-stock, .woocommerce-page div.product .in-stock, .woocommerce-page #content div.product .in-stock { }.woocommerce div.product .low-stock, .woocommerce #content div.product .low-stock, .woocommerce-page div.product .low-stock, .woocommerce-page #content div.product .low-stock { }.woocommerce div.product .out-of-stock, .woocommerce #content div.product .out-of-stock, .woocommerce-page div.product .out-of-stock, .woocommerce-page #content div.product .out-of-stock { color: #ed2121; }.woocommerce div.product .available-on-backorder, .woocommerce #content div.product .available-on-backorder, .woocommerce-page div.product .available-on-backorder, .woocommerce-page #content div.product .available-on-backorder { color: #f00e0e; }
    </style>
    <!--Embed from Zendesk Chat Chat Wordpress Plugin v1.4.6-->
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                  $.src='//v2.zopim.com/?318Syd65Z26iTmu4JG9TOB1W8WNVkJmI';z.t=+new Date;$.
                  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script><script>
        $zopim( function() {
                })
    </script><!--End of Zendesk Chat Script-->
    <script type='text/javascript'>
        (function($) {
                		if ( $( '.gtm4wp_productdata,.widget-product-item' ).length > 0 ) {
                			for( var i=0; i<dataLayer.length; i++ ) {
                				if ( dataLayer[ i ][ 'ecommerce' ] ) {

                					if ( ! dataLayer[ i ][ 'ecommerce' ][ 'impressions' ] ) {
                						dataLayer[ i ][ 'ecommerce' ][ 'impressions' ] = [];
                					}

                					break;
                				}
                			}

                			if ( i == dataLayer.length ) {
                				// no existing ecommerce data found in the datalayer
                				i = 0;
                				dataLayer[ i ][ 'ecommerce' ] = {};
                				dataLayer[ i ][ 'ecommerce' ][ 'impressions' ] = [];
                			}

                			dataLayer[ i ][ 'ecommerce' ][ 'currencyCode' ] = 'EUR';

                			var productdata;
                			$( '.gtm4wp_productdata,.widget-product-item' ).each( function() {
                				productdata = jQuery( this );

                				dataLayer[ i ][ 'ecommerce' ][ 'impressions' ].push({
                					'name':     productdata.data( 'gtm4wp_product_name' ),
                					'id':       productdata.data( 'gtm4wp_product_id' ),
                					'price':    productdata.data( 'gtm4wp_product_price' ),
                					'category': productdata.data( 'gtm4wp_product_cat' ),
                					'position': productdata.data( 'gtm4wp_product_listposition' ),
                					'list':     productdata.data( 'gtm4wp_productlist_name' )
                				});
                			});
                		}
                  })(jQuery);
    </script><script type='text/javascript'>
        /* <![CDATA[ */
                var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes"};var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","i18n_view_cart":"View Cart","cart_url":"http:\/\/plantui.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};var _wpcf7 = {"loaderUrl":"http:\/\/plantui.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php"};var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};var icl_vars = {"current_language":"en","icl_home":"http:\/\/plantui.com\/"};
                /* ]]> */
    </script>
    <script type='text/javascript' src='http://plantui.com/wp-content/mmr/02b75a86-1488379032.min.js'></script>
    <!-- WooCommerce JavaScript -->
    <script type="text/javascript">
        jQuery(function($) {

                            jQuery('.wcml_currency_switcher').on('change', function(){
                                    var currency = jQuery(this).val();
                                load_currency(currency);
                            });
                            jQuery('.wcml_currency_switcher li').on('click', function(){
                                if(jQuery(this).hasClass('wcml-active-currency')){
                                    return;
                                }
                                var currency = jQuery(this).attr('rel');
                                load_currency(currency);
                            });


                            function load_currency(currency){
                                var ajax_loader = jQuery('<img style="margin-left:10px;" width="16" heigth="16" src="http://1o6y2w1p8a1x14k5bg27zpld138a.wpengine.netdna-cdn.com/wp-content/plugins/woocommerce-multilingual/assets/images/ajax-loader.gif" />')
                                    jQuery('.wcml_currency_switcher').attr('disabled', 'disabled');
                                    jQuery('.wcml_currency_switcher').after();
                                    ajax_loader.insertAfter(jQuery('.wcml_currency_switcher'));
                                    jQuery.ajax({
                                        type : 'post',
                                        url : woocommerce_params.ajax_url,
                                        data : {
                                            action: 'wcml_switch_currency',
                                            currency : currency,
                                            wcml_nonce: 'aa2493a8e4'
                                        },
                                        success: function(response) {
                                            if(typeof response.error !== 'undefined'){
                                                alert(response.error);
                                            }else{
                                                jQuery('.wcml_currency_switcher').removeAttr('disabled');
                                                ajax_loader.remove();
                                                window.location = window.location.href;
                                            }
                                        }
                                    });
                            }



                	$( document ).on( 'click', '.mini_cart_item a.remove,.product-remove a.remove', function() {
                		var productdata = $( this );

                		var qty = 0;
                		var qty_element = $( this ).closest( '.cart_item' ).find( '.product-quantity input.qty' );
                		if ( 0 == qty_element.length ) {
                			qty_element = $( this ).closest( '.mini_cart_item' ).find( '.quantity' );
                			if ( qty_element.length > 0 ) {
                				qty = parseInt( qty_element.text() );

                				if ( isNaN( qty ) ) {
                					qty = 0;
                				}
                			}
                		} else {
                			qty = qty_element.val();
                		}

                		if ( 0 == qty ) {
                			return true;
                		}

                		dataLayer.push({
                			'event': 'gtm4wp.removeFromCartEEC',
                			'ecommerce': {
                				'remove': {
                					'products': [{
                						'name':     productdata.data( 'gtm4wp_product_name' ),
                						'id':       productdata.data( 'gtm4wp_product_id' ),
                						'price':    productdata.data( 'gtm4wp_product_price' ),
                						'category': productdata.data( 'gtm4wp_product_cat' ),
                						'quantity': qty
                					}]
                				}
                			}
                		});
                	});



                		$( '.add_to_cart_button:not(.product_type_variable, .product_type_grouped)' ).click(function() {
                			var productdata = $( this ).closest( '.product' ).find( '.gtm4wp_productdata' );

                			dataLayer.push({
                				'event': 'gtm4wp.addProductToCartEEC',
                				'ecommerce': {
                					'currencyCode': 'EUR',
                					'add': {
                						'products': [{
                							'name':     productdata.data( 'gtm4wp_product_name' ),
                							'id':       productdata.data( 'gtm4wp_product_id' ),
                							'price':    productdata.data( 'gtm4wp_product_price' ),
                							'category': productdata.data( 'gtm4wp_product_cat' ),
                							'quantity': 1
                						}]
                					}
                				}
                			});
                		});



                		$( '.products li:not(.product-category) a:not(.add_to_cart_button),.widget-product-item' ).click(function( event ) {
                			var _productdata = $( this ).closest( '.product' );

                			if ( _productdata.length > 0 ) {
                				var productdata = _productdata.find( '.gtm4wp_productdata' );

                			} else {
                				var _productdata = $( this ).closest( 'ul.products li' );

                				if ( _productdata.length > 0 ) {
                					var productdata = _productdata.find( '.gtm4wp_productdata' );

                				} else {
                					var productdata = jQuery( this );

                				}
                			}

                			if ( ( 'undefined' == typeof productdata.data( 'gtm4wp_product_id' ) ) || ( '' == productdata.data( 'gtm4wp_product_id' ) ) ) {
                				return true;
                			}

                			var ctrl_key_pressed = event.ctrlKey;

                			event.preventDefault();
                			if ( ctrl_key_pressed ) {
                				// we need to open the new tab/page here so that popup blocker of the browser doesn't block our code
                				var _productpage = window.open( 'about:blank', '_blank' );
                			}

                			dataLayer.push({
                				'event': 'gtm4wp.productClickEEC',
                				'ecommerce': {
                					'currencyCode': 'EUR',
                					'click': {
                					  'actionField': {'list': productdata.data( 'gtm4wp_productlist_name' )},
                						'products': [{
                							'id':       productdata.data( 'gtm4wp_product_id' ),
                							'name':     productdata.data( 'gtm4wp_product_name' ),
                							'price':    productdata.data( 'gtm4wp_product_price' ),
                							'category': productdata.data( 'gtm4wp_product_cat' ),
                							'position': productdata.data( 'gtm4wp_product_listposition' )
                						}]
                					}
                				},
                				'eventCallback': function() {
                					if ( ctrl_key_pressed && _productpage ) {
                						_productpage.location.href= productdata.data( 'gtm4wp_product_url' );
                					} else {
                						document.location.href = productdata.data( 'gtm4wp_product_url' )
                					}
                				},
                				'eventTimeout': 2000
                			});
                		});

                });
    </script>
    <!-- Facebook Comments Plugin for WordPress: http://peadig.com/wordpress-plugins/facebook-comments/ -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=296922327159903&version=v2.3";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="cookie-notice" role="banner" class="cn-bottom bootstrap" style="color: #fff; background-color: #000;">
        <div class="cookie-notice-container"><span id="cn-notice-text">We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</span><a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie button bootstrap">Ok</a>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                		  ga('create', 'UA-49862342-1', 'plantui.com');
                		  ga('require', 'ecommerce');
                		  ga('send', 'pageview');
    </script>
</body>
</html>
