
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta property="og:image" content="/image/ogimage.png">
	<meta name="description" content="在无印良品，创造了商品的一天到一天的生活在一般家庭用品，如服装食品，并销售。">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="noydir,noodp">

	<title>无印良品</title>
	<link rel="stylesheet" href="/cn/store/css/normalize.css">
	<link rel="stylesheet" href="/cn/store/css/muji.2.1.css">
	<link rel="stylesheet" href="/cn/store/css/muji_cn.css">
<link rel="stylesheet" href="/cn/store/css/muji_cn.2.0.css">
	<link rel="stylesheet" href="/cn/store/css/portal.1.0.css">
	<link rel="stylesheet" href="/cn/store/css/portal_cn.css">
	<link rel="stylesheet" href="/cn/store/css/marker.css">
	<link rel="stylesheet" href="/cn/store/css/self_marker.css">

	<script src="/cn/store/js/lib/jquery.min.1.11.0.js"></script>

	<!--[if lt IE 9]>
		<script src="/cn/store/js/lib/html5.js"></script>
		<script src="/cn/store/js/lib/respond.js"></script>
	<![endif]-->
	<script src="//assets.adobedtm.com/a6e9b8b912d51aecbc12256558ef49a48670b2e5/satelliteLib-9fa8fa56b87f6d219078e5bd7ee860df5977511f.js"></script>
<meta name="google-site-verification" content="uuJ36II6toGyemYG32iDkK7S5iwki-LVe0XJytvliUA" />
<meta name="baidu-site-verification" content="IzCrHv6BWr" />

</head>

<body>

<header id="globalHeader">
	<div class="headerWrap">

	<h1 id="siteName"><a href="/"><img src=" /image/logo_muji_b.png" alt="无印良品"></a></h1>

	<nav id="hGlobalNav">
		<h1>菜单</h1>
		<div class="wrapper">
			<div class="cancel"></div>
			<ul>
				<li class="home"><a href="/cn/">首页</a></li>

				<li><a href="/cn/store/?area=header">网络商城</a></li>

				<li><a href="http://www.muji.com/storelocator/?c=cn">店铺信息</a></li>

				<li><a href="http://www.muji.net/lab/zh-cn/?area=header">生活良品研究所</a></li>

				<li><a href="/cn/store/contents/contact/faq/?area=header">问题咨询</a></li>

				<li><a href="http://zp.muji.com.cn/mujirecruitment/Pager/SocialRecruitment.aspx?area=header">人才招聘</a></li>

				<li><a href="/cn/store/contents/corporate/partner.jsp">店铺合作伙伴</a></li>

				<li><a href="/cn/store/contents/corporate/">企业情报</a></li>

				<li><a href="http://www.muji.com/cn/about/">何谓无印良品</a></li>

			</ul>
		</div>
	</nav>


	<section id="hSearch">
		<form action=" /cn/store/FSC02210E01.do?qcategory=all&qicon=&qstart=0&sort=goods_disp_priority&fid=header_search&qtext=" id="headerSearch" method="get">
		<h1>产品搜索</h1>
		<div class="wrapper">
			<div class="cancel"></div>
			<input type="search" placeholder="产品搜索" name="qtext" value="">
		</div>
		</form>
	</section>

	</div><!-- .headerWrap -->
</header>

<div id="main">


	<section id="mainCampaign">
		<div class="wrap">
			<div class="mainPanel">
				<a href="/cn/store/feature/C17030301/">
				<img src="/image/panel/c17030301_pc.jpg" alt="从靛蓝开始。" class="pc">
				<img src="/image/panel/c17030301_sp.jpg" alt="从靛蓝开始。" class="mobile">
				<span class="title"></span></a>
			</div>

			<ul class="fourPanels">

				<li>
					<a href="http://www.muji.com/cn/goodenoughliving/">
					<img src="/image/panel/c17020301_640.jpg" alt="质朴满足的生活">
					<span class="title"></span></a>
				</li>

				<li>
					<a href="//www.muji.com/cn/mujilabo/">
					<img src="//www.muji.com/img/mujilabo/mujilabo_640.png" alt="MUJI Labo 今春全面更新">
					<span class="title">今春全面更新</span></a>
				</li>

				<li>
					<a href="/cn/store/contents/news/2017_0113.jsp">
					<img src="/image/panel/compactlife_640.jpg" alt="Compact  Life  in  CHINA">
					<span class="title">Compact  Life  in  CHINA</span></a>
				</li>

				<li>
					<a href="//www.muji.com/cn/skincare/">
					<img src="//www.muji.com/img/panel/skincare2016aw_640.jpg" alt="Aging skincare">
					<span class="title">Aging skincare</span></a>
				</li>

			</ul>
		</div>

		<div class="more"><a href="/cn/store/contents/campaign/">更多</a></div>

	</section>


	<section id="product">
		<h1>产品</h1>


		<div class="more"><a href=" /cn/store/">网络商城</a></div>


		<div class="wrap">


			<ul id="product_garment">


				<li style="background-image: url(//img.muji.com.cn/img/item/4549337454781_95.jpg)"><a href=" /cn/store/category/fashion/ladies/"><span class="title">女装</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337856943_95.jpg)"><a href=" /cn/store/category/fashion/ladiesinner/"><span class="title">女士内衣</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337502376_95.jpg)"><a href=" /cn/store/category/fashion/men/"><span class="title">男装</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337772199_95.jpg)"><a href=" /cn/store/category/fashion/meninnner/"><span class="title">男士内衣</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4945247061994_95.jpg)"><a href=" /cn/store/category/fashion/shoes/"><span class="title">鞋</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337668645_95.jpg)"><a href=" /cn/store/category/fashion/bag/"><span class="title">箱包</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337670761_95.jpg)"><a href=" /cn/store/category/fashion/fashiongoods/"><span class="title">服装杂货</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337821040_95.jpg)"><a href=" /cn/store/category/fashion/mjlabladies/"><span class="title">MUJI Labo 女士</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337807242_95.jpg)"><a href=" /cn/store/category/fashion/mjlabmen/"><span class="title">MUJI Labo 男士</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337703780_95.jpg)"><a href=" /cn/store/category/kids/baby/"><span class="title">婴儿（80-100cm）</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337697874_95.jpg)"><a href=" /cn/store/category/kids/toddler/"><span class="title">幼儿（110-130cm）</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337677906_95.jpg)"><a href=" /cn/store/category/kids/junior/"><span class="title">儿童（140・150cm）</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337658080_95.jpg)"><a href=" /cn/store/category/kids/newborn/"><span class="title">孕妇・新生儿</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548076637707_95.jpg)"><a href=" /cn/store/category/kids/goodsfurniture/"><span class="title">儿童用品・家具</span></a></li>


			</ul>


			<ul id="product_household">


				<li style="background-image: url(//img.muji.com.cn/img/item/4548718121540_95.jpg)"><a href=" /cn/store/category/furniture/stragefurniture/"><span class="title">收纳家具</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337192430_95.jpg)"><a href=" /cn/store/category/furniture/stragegoods/"><span class="title">收纳用品</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315901258_95.jpg)"><a href=" /cn/store/category/furniture/bed/"><span class="title">床・床垫</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548718992003_95.jpg)"><a href=" /cn/store/category/furniture/bedding/"><span class="title">被子・寝具</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4934761048895_95.jpg)"><a href=" /cn/store/category/furniture/living/"><span class="title">客厅家具</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548076788423_95.jpg)"><a href=" /cn/store/category/furniture/rug/"><span class="title">地毯・拖鞋</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548076355243_95.jpg)"><a href=" /cn/store/category/furniture/curtain/"><span class="title">窗帘・百叶窗</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315875054_95.jpg)"><a href=" /cn/store/category/furniture/tablechair/"><span class="title">餐桌・书桌</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548718121304_95.jpg)"><a href=" /cn/store/category/furniture/deskchair/"><span class="title">书桌・椅子</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315574940_95.jpg)"><a href=" /cn/store/category/furniture/interior/"><span class="title">家装</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548718113972_95.jpg)"><a href=" /cn/store/category/furniture/thonet/"><span class="title">MUJI manufactured by THONET</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4945247118438_95.jpg)"><a href=" /cn/store/category/furniture/realfurniture/"><span class="title">REAL FURNITURE</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548076475651_95.jpg)"><a href=" /cn/store/category/furniture/electronics/"><span class="title">家电・照明</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315252459_95.jpg)"><a href=" /cn/store/category/health/skincare/"><span class="title">肌肤护理</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315822799_95.jpg)"><a href=" /cn/store/category/health/makeup/"><span class="title">化妆用品</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315900343_95.jpg)"><a href=" /cn/store/category/health/unused/"><span class="title">彩妆用品</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4934761157351_95.jpg)"><a href=" /cn/store/category/health/haircare/"><span class="title">洗发护理</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548076101178_95.jpg)"><a href=" /cn/store/category/health/bodycare/"><span class="title">身体护理</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4934761703664_95.jpg)"><a href=" /cn/store/category/health/essentialoil/"><span class="title">精油·香薰</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4549337082205_95.jpg)"><a href=" /cn/store/category/health/travelgoods/"><span class="title">旅行小物</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315257805_95.jpg)"><a href=" /cn/store/category/goods/kitchengoods/"><span class="title">厨房用品</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315002641_95.jpg)"><a href=" /cn/store/category/goods/tablegoods/"><span class="title">餐桌用品</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4548718421442_95.jpg)"><a href=" /cn/store/category/goods/stationery/"><span class="title">文具・相册</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4547315021017_95.jpg)"><a href=" /cn/store/category/goods/bathtoilet/"><span class="title">浴室･卫生用品</span></a></li>

				<li style="background-image: url(//img.muji.com.cn/img/item/4934761000886_95.jpg)"><a href=" /cn/store/category/goods/cleaning/"><span class="title">扫除・洗涤用品</span></a></li>


			</ul>


			<ul id="product_food">


				<li style="background-image: url(//img.muji.com.cn/img/item/4549337096516_95.jpg)"><a href=" /cn/store/category/foods/foods/"><span class="title">食品</span></a></li>


			</ul>





		</div>
	</section>



	<section id="newItem">
		<h1>新到商品</h1>


		<div class="more"><a href=" /cn/store/list/new/fashion">更多</a></div>


		<div class="wrap">
		<ul>


			<li><a href=" /cn/store/goods/4549738539346"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738539360_400.jpg" width="50"></span><span class="name">立领大衣</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738570349"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738656746_400.jpg" width="50"></span><span class="name">棉不均匀染色开衫</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738450672"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738450757_400.jpg" width="50"></span><span class="name">棉双层纱织 方便穿脱睡衣</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549337263215"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549337263215_400.jpg" width="50"></span><span class="name">组合柜/宽型/2层/白橡木</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738306771"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738306771_400.jpg" width="50"></span><span class="name">硅胶 球型制冰器 4个</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738671077"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738671077_400.jpg" width="50"></span><span class="name">糕点饼干什锦装</span>

			</a></li>


		</ul>
		</div>
	</section>








	<section id="topicItem">
		<h1>销售排行榜</h1>



		<div class="wrap">
		<ul>


			<li><a href=" /cn/store/goods/4547315820665"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4547315820665_400.jpg" width="50"></span><span class="name">空气净化器</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738391210"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738391210_400.jpg" width="50"></span><span class="name">棉法兰绒被套 170×210cm用 / 红色格纹</span>

			</a></li>

			<li><a href=" /cn/store/goods/4548718920136"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4548718920136_400.jpg" width="50"></span><span class="name">超声波香薰机 直径约80×高140mm / 白色</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738420323"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738420330_400.jpg" width="50"></span><span class="name">棉罗纹 前开口平角裤</span>

			</a></li>

			<li><a href=" /cn/store/goods/4547315844449"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4547315844449_400.jpg" width="50"></span><span class="name">携带用睫毛夹 全长约58mm</span>

			</a></li>

			<li><a href=" /cn/store/goods/4549738664512"><span class="thumb"><img src="http://img.muji.com.cn/img/item/4549738664512_400.jpg" width="50"></span><span class="name">草莓牛奶巧克力</span>

			</a></li>


		</ul>
		</div>
	</section>



	<section id="event">
		<h1>活动一览</h1>



		<div class="wrap">
			<ul>

				<li>
					<a href="/cn/store/contents/ateliermuji">
					<img src="/image/panel/atelier_640_161231.jpg" alt="">
					<span class="title">ATELIER MUJI</span></a>
				</li>

				<li>
					<a href="http://www.idee.co.jp/cn/">
					<img src="/image/panel/idee_640.jpg" alt="">
					<span class="title">IDEE</span></a>
				</li>

				<li>
					<a href="http://www.muji.com/cn/events/603/">
					<img src="/image/panel/openmuji-sh755_640.jpg" alt="">
					<span class="title">OPEN MUJI 本月活动</span></a>
				</li>

			</ul>
		</div>
	</section>



	<section id="lab">
		<h1>生活良品研究所</h1>


		<div class="more"><a href="http://www.muji.net/lab/zh-cn/">更多</a></div>


		<div class="wrap">
		<ul>


			<li ><a href="http://www.muji.net/lab/zh-cn/living/150114.html"><img src="/image/panel/lab_150114_01.jpg" alt=""><br>
				<span class="label">最新专栏</span>

				<span class="title">与“便利”好好相处</span>
				</a></li>

			<li ><a href="http://www.muji.net/lab/zh-cn/living/140521.html"><img src="/image/panel/lab_140521_01.jpg" alt=""><br>
				<span class="label">专栏所谓</span>

				<span class="title">健康之源在于自己</span>
				</a></li>

			<li ><a href="http://www.muji.net/lab/zh-cn/living/140430.html"><img src="/image/panel/lab_140430_01.jpg" alt=""><br>
				<span class="label">专栏</span>

				<span class="title">所谓“等待”</span>
				</a></li>


		</ul>
		</div>
	</section>










	<section id="shop">
		<h1>店铺信息</h1>


		<div class="more"><a href="http://www.muji.com/storelocator/?c=cn">店铺信息</a></div>
		<div class="shopWrap">



		<div id="overlimit">
			<p>对应于该条件过多存储的号码。请参阅放大地图。</p>
		</div>
		<div id="shoplist">
			<div class="nearbyTitle">附近商店</div>
			<ul class="shops"></ul>
			<div id="noshops"></div>
		</div>
		<div id="map_frame">
			<div id="mapMask"></div>
			<div id="map" class="map"></div>
		</div>
		</div><!-- .shopWrap -->
	</section>



	<section id="information">
	<h1>新到信息</h1>


	<div class="more"><a href="/cn/store/contents/corporate/news.jsp">更多</a></div>


	<div class="wrap">
		<ul class="atom_import">
			<script type="text/javascript">
			<!--
				$.ajax({
					url: "/cn/store/contents/corporate/atom.html" ,
					async: true,
					cache: false,
					dataType:"xml",
					success: function(xml){
						var html_temp = "";
						var title = "";
						var link = "";
						var tagTime = "";
						var tagno = 0;
						var tagTimeArray = "";

						//xml loop
						$(xml).find('entry,item').each(function(i){
							title = $(this).find('title').text();
							link = $(this).find('link').attr('href')||$(this).find('link').text();
							tagTime = $(this).find('published,pubDate').text();

							//tag
							html_temp += '<li><span class="date">' + tagTime + '</span>';
							html_temp += '<a href="' + link + '">' + title + '</a>' + '</li>';
						});

						//output
						$(".atom_import").html(html_temp);
					}
				});

			// -->
			</script>

		</ul>
	</div>
	</section>

</div><!-- #main -->


<aside id="misc">
	<div class="content">
		<ul class="sns">

			<li class="weibo"><a href="/cn/store/contents/social/link_sina_weibo.html" target="_blank"><img src=" /image/misc_weibo.png" alt="weibo"></a></li>

			<li class="wechat"><a href="/cn/store/contents/social/link_wechat_sns.html" target="_blank"><img src=" /image/misc_wechat.png" alt="wechat"></a></li>

			<li class="douban"><a href="/cn/store/contents/social/link_douban_sns.html" target="_blank"><img src=" /image/misc_douban.png" alt="douban"></a></li>

			<li class="fLicence"><a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=2012032218120072" target="_blank"><img src=" /image/license_w.gif" alt="上海工商"></a></li>

		</ul>

		<div class="passport"><a href="http://www.muji.com/cn/passport/passport.html"><img src="/image/misc_passport.png" alt="MUJI passport"></a></div>

	</div>
</aside>

<footer>

<nav id="footerNav">

	<section class="footerNav1">
		<ul>


			<li><a href=" /cn/store/?area=footer" target="_self">网络商城</a></li>

			<li><a href="http://www.muji.com/storelocator/?c=cn" target="_self">店铺信息</a></li>

			<li><a href="http://www.muji.net/lab/zh-cn/?area=footer" target="_self">生活良品研究所</a></li>


		</ul>
	</section>



	<section class="footerNav2">
		<ul>


			<li><a href="/cn/store/contents/ateliermuji/?area=footer" data-category="" target="_self">ATELIER MUJI</a></li>

			<li><a href="http://www.muji.com/cn/cafemeal/?area=footer" data-category="" target="_self">Café&Meal MUJI</a></li>


		</ul>
	</section>



	<section class="footerNav3">
		<ul>


			<li><a href="/cn/store/contents/catalog/?area=footer" target="_self">商品目录</a></li>


		</ul>
	</section>



	<section class="footerNav4">
		<ul>


			<li><a href="/cn/store/contents/contact/faq/?area=footer" target="_self">问题咨询</a></li>

			<li><a href="/cn/store/contents/corporate/partner.jsp" target="_self">店铺合作伙伴</a></li>

			<li><a href="http://zp.muji.com.cn/mujirecruitment/Pager/SocialRecruitment.aspx?area=footer" target="_self">人才招聘</a></li>

			<li><a href="http://www.muji.com/cn/message/" target="_self">MUJI message</a></li>

			<li><a href="http://www.muji.com/cn/about/" target="_self">何谓无印良品</a></li>

			<li><a href="/cn/store/contents/corporate/?area=footer" target="_self">企业情报</a></li>


		</ul>
	</section>



	<section class="footerNav5">
		<ul>


			<li class="country"><a href="http://www.muji.com/?area=footer" target="_self"><img src="/image/flag_cn.png" alt="">中国</a></li>


		</ul>
	</section>


</nav>

<p id="copyright">
	<span class="copyright"><small>&copy;&nbsp;Ryohin Keikaku Co., Ltd.</small></span>
</p>
<nav class="another">
<ul>

	<li><span target="_self"><small>© 无印良品（上海）商业有限公司    地址：上海市静安区南京西路1601号35楼3501-3508室</small></span></li>

	<li><a href="http://www.miibeian.gov.cn/" target="_self"><small>沪ICP备08018225号</small></a></li>

	<li><span target="_self"><small></small></span></li>

</ul>
</nav>
</footer>

	<script src="/cn/store/js/lib/modernizr.custom.47384.js"></script>
	<script src="/cn/store/js/lib/cssua.js"></script>
	<script src="/cn/store/js/lib/fastclick.js"></script>

	<script src="/cn/store/js/muji-1.0.js"></script>
	<script src="/cn/store/js/portal-2.0.js"></script>
	<script src="/cn/store/js/portal_cn.js"></script>


	<script>
		//FastClick
		if (cssua.ua.mobile) {
		$(function(){
			var selectors = [
				$("#hGlobalNav h1").get(0),
				$("#hSearch h1").get(0),
				$(".cancel").get(0),
				$(".prev").get(0),
				$(".next").get(0),
				$(".avater").get(0)
			];

			for(var i = 0, sLen = selectors.length; i < sLen; i++ ) {
				if(selectors[i] != undefined){
				FastClick.attach(selectors[i]);
				}
			}
		});
	}

</script>


<script type="text/javascript" src="//api.map.baidu.com/api?v=1.5&ak=18c2abab0deabc84cf240d2e1123f5a1"></script>
<!--[if !IE]><!-->
<script src="/cn/store/js/lib/map_cn.js"></script>
<!--<![endif]-->




<script>
	MAP_LIMIT_SHOPLIST = 10; /* Maximum number of stores list */
	MAP_LIMIT_MARKER = 100; /* Maximum number of stores placed on the map */
	MAP_IMG_MARKER = "/image/marker_red_default.png";
	MAP_IMG_SELF_POS = "/image/self_position.png";


	MAP_MARKER_LINK_URL = "//www.muji.com/storelocator/?c=cn";
	MAP_SHOPLIST_JSON_URL = "//www.muji.com/storelocator/?c=cn&lang=LC&baidu_flag=1&_ACTION=_SEARCH";




	MAP_DEFAULT_ZOOM = 8;
	MAP_DEFAULT_LAT = 39.921783;
	MAP_DEFAULT_LON = 116.440247;
	MAP_LOAD_DIV_ID = "map";
</script>

<script type="text/javascript">_satellite.pageBottom();</script>

</body>

</html>
